<!DOCTYPE html>
<html>
<head>
  <title>Docs</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag    "doc_mate/application", media: "all" %>
  <%= javascript_include_tag "doc_mate/application" %>
  <%= csrf_meta_tags %>

  <%= render :partial => 'layouts/vendor/google_analytics' %>
</head>
<body class="<%= controller.controller_name %> <%= controller.controller_name %>-<%= controller.action_name %> <%= params[:id] %>">

  <%= render :partial => 'shared/doc_mate/header'  %>

  <div id="wrapper" class="midi">
    <%= yield %>
  </div>

</body>
</html>