@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800");

body {
  font-family: 'Montserrat', sans-serif;
}

body.docs {

  .red {
    color: red;
  }
  .mini {
    font-size: 8px;
  }

  div,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  code,
  del,
  dfn,
  em,
  img,
  q,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    margin:0;
    padding:0;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    // font-size: 100%;
    font-size: 100%;
    // font-family:inherit;
    vertical-align:baseline
  }

  .midi:not(img){
    width: auto;
    max-width:750px;
    margin:0 auto;
    display: block;
  }

  body {
    background:#fff;
    margin:2em 0 0;
    line-height:1.8;
    -webkit-font-smoothing:antialiased;
  }

  table {
    border-collapse:collapse;
    border-spacing:0
  }

  caption,th,td {
    text-align:left;
    font-weight:400
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content:""
  }

  q,
  blockquote {
    quotes:"" ""
  }

  img {
    max-width:100%;
    height:auto
  }

  a img {
    border:none
  }

  input,textarea {
    margin:0
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #333;
    letter-spacing: 0;
    margin: 2em 0 1em 0;
    padding: 0.5em 0;
    font-weight: bold;
  }

  h1 {
    color: #000;
    font-size: 1.9em;
    line-height: 1em;
  }

  h2 {
    font-size:1.7em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }


  h2,
  h3,
  h4,
  h5,
  h6 {
    color:#444;
  }

  h3 {
    font-size:1.6em;
    line-height:1;
  }

  h4 {
    font-size:1.5em;
    line-height:1.25;
  }

  h5 {
    font-size:1.4em;
  }

  h6 {
    font-size:1.2em;
    font-weight:bold;
  }

  p {
    margin:0 0 1.5em;
  }

  ul,
  ol {
    color:#444;
    list-style-position: inside;
  }

  ul li ul,
  ul li ol,
  ol li ul,
  ol li ol{
    margin:0 1em;
  }

  ul {
    list-style-type:circle;
    margin: 1em 0 2em 0;
  }

  ol {
    list-style-type:decimal
  }

  li p {
    font-size:1em
  }

  li[id^=def]{
    margin-bottom:4em;
    list-style-type: none;
  }

  li>p:first-child {
    margin:0
  }

  .table-des-matieres {
    ul a:hover,
    ol a:hover,
    ul a:visited,
    ol a:visited {
      color: #666;
    }
    ul a,
    ol a {
      color: #444;
    }
  }

  dl {
    margin:0 0 1.5em
  }

  dl dt {
    font-weight:700
  }

  dl dd {
    margin-left:1.5em
  }

  abbr,
  acronym {
    border-bottom:1px dotted #000
  }

  address {
    margin-top:1.5em;
    font-style:italic
  }

  a {
    text-decoration:none;
    -webkit-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    -o-transition:color .2s ease-in-out;
    -ms-transition:color .2s ease-in-out;
    transition:color .2s ease-in-out;
    &:hover {
      text-decoration:none;
      color:#1B4C77;
      border-bottom-color:#1B4C77;
    }
    &:active {
      outline:0;
      position:relative;
      top:1px;
    }
  }

  blockquote {
    background:#f9f9f9;
    border:1px dotted #ccc;
    border-right:none;
    border-left:none;
    margin-top:1em;
    margin-bottom:1em;
    opacity: 0.7;
    p {
      padding:0 1em;
      margin:20px 0 25px;
      padding:0 15px;
    }
  }


  strong {
    font-weight:700
  }

  em {
    font-style:italic
  }

  dfn {
    font-weight:700
  }

  pre,
  code,
  tt {
    color:#8b8074;
    font-size:1em;
    font-weight:700;
    text-align:left;
    margin:2em 0
  }

  pre {
    white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word
  }

  tt {
    display:block;
    margin:1.5em 0;
    line-height:1.5
  }

  span.amp {
    font-style:italic
  }

  .footnote {
    font-size:.8em;
    vertical-align:super
  }

  caption,
  col,
  colgroup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border-spacing:0
  }

  caption {
    color:#666
  }

  figure {
    display:inline-block;
    margin:.5em 0 1.8em;
    position:relative
  }

  .poetry pre {
    display:block;
    font-size:110%!important;
    font-style:italic;
    line-height:1.6em;
    margin-left:1em;
    pre code {
      word-break:break-all;
      word-break:break-word;
      -webkit-hyphens:auto;
      -moz-hyphens:auto;
      hyphens:auto;
      white-space:pre-wrap
    }
  }


  sup,
  sub,
  a.footnote {
    font-size:1.4ex;
    height:0;
    line-height:1;
    position:relative;
    vertical-align:super
  }

  sub {
    vertical-align:sub;
    top:-1px;
  }

  table {
    width:100%;
    margin-bottom:2em;
    padding:0;
    font-size:13px;
    border:1px solid #ddd;
    border-collapse:separate;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    th,
    td {
      padding:10px 10px 9px;
      line-height:18px;
      text-align:left;
    }
    th {
      padding-top:9px;
      font-weight:700;
      vertical-align:middle;
    }
    td {
      vertical-align:top;
      border-top:1px solid #ddd;
    }
  }



  table tbody th {
    border-top:1px solid #ddd;
    vertical-align:top
  }

  table th+th,
  table td+td,
  table th+td {
    border-left:1px solid #ddd
  }

  table thead tr:first-child th:first-child,
  table tbody tr:first-child td:first-child {
    border-radius:4px 0 0 0;
    -moz-border-radius:4px 0 0;
    -webkit-border-radius:4px 0 0 0
  }

  table thead tr:first-child th:last-child,
  table tbody tr:first-child td:last-child {
    border-radius:0 4px 0 0;
    -moz-border-radius:0 4px 0 0;
    -webkit-border-radius:0 4px 0 0
  }

  table tbody tr:last-child td:first-child {
    border-radius:0 0 0 4px;
    -moz-border-radius:0 0 0 4px;
    -webkit-border-radius:0 0 0 4px
  }

  table tbody tr:last-child td:last-child {
    border-radius:0 0 4px 0;
    -moz-border-radius:0 0 4px;
    -webkit-border-radius:0 0 4px 0
  }

  table tbody tr:nth-child(odd) {
    background-color:rgba(0,0,0,0.03)
  }

  @media print {
    body {
      overflow:auto
    }

    h1   { font-size: 2em; margin: .67em 0 }
    h2   { font-size: 1.5em; margin: .75em 0 }
    h3   { font-size: 1.17em; margin: .83em 0 }
    h4   { font-size: 1.17em; margin: 1.12em 0 }
    h5   { font-size: .83em; margin: 1.5em 0 }
    h6   { font-size: .75em; margin: 1.67em 0 }

    img,
    pre,
    blockquote,
    table,
    figure {
      page-break-inside:avoid
    }
  }

  @media screen {
    ::selection {
      background:rgba(157,193,200,0.5)
    }

    h1::selection {
      background-color:rgba(45,156,208,0.3)
    }

    h2::selection {
      background-color:rgba(90,182,224,0.3)
    }

    h3::selection,
    h4::selection,
    h5::selection,
    h6::selection,
    li::selection,
    ol::selection {
      background-color:rgba(133,201,232,0.3)
    }

    code::selection {
      background-color:rgba(0,0,0,0.7);
      color:#eee
    }

    code span::selection {
      background-color:rgba(0,0,0,0.7)!important;
      color:#eee!important
    }

    a::selection {
      background-color:rgba(255,230,102,0.2)
    }

    .inverted a::selection {
      background-color:rgba(255,230,102,0.6)
    }

    td::selection,
    th::selection,
    caption::selection {
      background-color:rgba(180,237,95,0.5)
    }

    .inverted {
      padding:20px;
      background:#0b2531
    }

    .inverted p,
    .inverted td,
    .inverted li,
    .inverted h1,
    .inverted h2,
    .inverted h3,
    .inverted h4,
    .inverted h5,
    .inverted h6,
    .inverted th,
    .inverted .math,
    .inverted dd,
    .inverted dt {
      color:#eee!important
    }

    .inverted a {
      border-bottom:none;
      color:#fff;
      text-decoration:underline
    }

    .inverted blockquote {
      background:rgba(255,255,255,0.1);
      border-top-color:rgba(255,255,255,0.1)
    }

    .inverted blockquote p {
      border-top-color:rgba(255,255,255,0.3)
    }

    .inverted caption,
    .inverted .footnote,
    .inverted figcaption {
      color:rgba(255,255,255,0.5)
    }

    .inverted table {
      border-color:rgba(255,255,255,0.3)
    }

    .inverted table td {
      vertical-align:top;
      border-top:none
    }

    .inverted table th+th,
    .inverted table td+td,
    .inverted table th+td {
      border-left:1px solid rgba(255,255,255,0.3)
    }

    .inverted table tbody tr:nth-child(odd) {
      background-color:rgba(255,255,255,0.1)
    }
  }



  h1.red,
  h2.red,
  h3.red,
  h4.red,
  h5.red,
  p.red,
  .red {
    color:red;
  }
  h1.orange,
  h2.orange,
  h3.orange,
  h4.orange,
  h5.orange,
  p.orange,
  .orange {
    color:orange;
  }
  .mustard {
    color: rgb(255, 204, 0);
  }

  hr {
    border:none;
    background:none;
    border-bottom: 1px solid #ccc;
    &.mustard {
      border-bottom: 1px solid rgb(255, 204, 0);
    }
  }




  a {
    // color:#D33637;
    &:hover {
      color:#666;
      border-bottom-color:#666;
    }
    &.toggle-menu {
      font-size: 2em;
    }
  }



  header#control_bar {
    width:45px;
    height: 100%;
    position:fixed;
    top: 0;
    background:#fff;
      background: rgba(255,255,255,0.95);
    z-index: 1000;
    line-height: 1;
    font-size: 13px;
    // border-right: 1px solid #f4f4f4;
    -webkit-overflow-scrolling:touch;
    overflow:auto;
    .inner {
      padding-top:1em 0;
    }
    .pin {
      opacity: 0.5;
      float: right;
      display:none;
    }
    .pin.on {
      opacity: 0.7;
    }
    // overrides for Fancy treee
    ul.fancytree-container {
      border: none;
      background-color: transparent;
    }
    ul.fancytree-container li {
      margin:4px 0;
    }

    #main_menu {
      font-size: 0.9em;
      margin: 4em 1em;
      .nav-controls {
        margin:3em 0;
        a {
          margin: 0 0.5em;
          padding: 0 3px;
        }
        a:hover {
          color:#5c5c5c;
        }
      }
    }
    #main_menu,
    .wrap-critic-markup-controls{
      display: none;
    }

    .nav-controls,
    .wrap-critic-markup-controls {
      font-size: 0.8em;
    }


    &.open {
      width: auto;
      max-width: 100%;
      .pin {
        display: block;
      }
      #main_menu,
      .wrap-critic-markup-controls {
        display:block;
      }
    }
    .main-menu-controls {
      padding: 0.9em;
      background: #F9F9F9;
    }
  }

  // --- utilities
  .fr { float: right;}
  .fl { float: left; }
  .clear { clear: both; float: none;}
  hr.clear { border: none;}
  .m1 {
    &.all { margin: 1em; }
    &.t { margin-top: 1em;}
    &.r { margin-right: 1em;}
    &.b { margin-bottom: 1em;}
    &.l { margin-left: 1em;}
  }

  // --- utilities

  .legend-border {
    border: 1px solid #c0c0c0;
    padding: 0.5em;
  }

} // body.docs


body.docs.mobile {
  header#control_bar{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 50px;
    padding: 0;
    .hamburger {
      color: orange;
      display: block;
      border: none;
      padding:10px;
    }
    .pin {
      display:none;
    }
  }
  header#control_bar.open {
    border:none;
    border-right: 1px solid #ddd;
    height: 100%;
    bottom:0;
    padding: 1em;
  }
}



// Critic Markup
.critic {
  &.insert { color:#00bb00;}
  &.delete { color: #dd0000;}
  &.comment { color:#b1b1b1;}
  &.sub {
    color: #ff8600;
    .initial {
      color: #FF2900;
    }
  }
  mark { background-color:rgb(248, 248, 192);}
}

.critic-markup-processed {
  .critic {
    &.insert { color:inherit;}
    &.delete { display:none;}
    &.comment { display:none;}
    &.highlight {display:none;}
    &.sub {
      color:inherit;
      .initial,
      .tilde-right-arrow { display:none;}
    }
  }
}

// critic markup switch
.wrap-critic-markup-controls {
  line-height: 1em;
  span {
    color:#c5c5c5;
  }
  a {
    color:#a1a1a1;
  }
  a.on,
  a:hover {
    color:#5c5c5c;
  }
}
