<% if controller.controller_name == 'docs'  %>

<header id='control_bar'>
  <div class="inner midi">

    <div class="main-menu-controls">
      <%= link_to image_tag('doc_mate/glyphicons_free/glyphicons/png/glyphicons_114_list.png'), '#', class: 'toggle-menu' %>
      <%= link_to image_tag('doc_mate/glyphicons_free/glyphicons/png/glyphicons_335_pushpin.png'),
            '#', class: "pin", title: 'Keep menu open, or not.' %>
    </div>

    <div id="main_menu"></div>

    <div class="wrap-critic-markup-controls">
      <span class="">Critic markup:</span>
      <a href="#" class="set-visible">visible</a>
       /
      <a href="#" class="set-processed">processed</a>
    </div>
  </div>
</header>

<% end %>
